<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>707853810425-lg719k4k2d0r57oro4f93euv9rnqfd76.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.707853810425-lg719k4k2d0r57oro4f93euv9rnqfd76</string>
	<key>API_KEY</key>
	<string>AIzaSyCuxytYjAh2vXVsRMg0JqrKUeKZDMUzaA0</string>
	<key>GCM_SENDER_ID</key>
	<string>707853810425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.gvsu.cis.HW3</string>
	<key>PROJECT_ID</key>
	<string>geocalculator-ios-hw9</string>
	<key>STORAGE_BUCKET</key>
	<string>geocalculator-ios-hw9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:707853810425:ios:1065b5d354bce196</string>
	<key>DATABASE_URL</key>
	<string>https://geocalculator-ios-hw9.firebaseio.com</string>
</dict>
</plist>